<h2>Edit comment:</h2>

<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="form-group">
    <%= f.text_area :body, value: @comment.body, class: "form-control" %>
  </div><br>
  <%= f.submit "Update Comment", class: "btn btn-default" %>
<% end %>
