/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-3.3.7.min
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
* {
  background-color: #f2f2f2;
}
h1, h1 a, h1 a:hover {
  font-size: 50px;
  font-family: 'Nunito Sans', sans-serif;
  color: #000000;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}

.navbar, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-right.li {
  font-size: 30px;
  padding: 10px;
  border-color: #FFFFFF;
  background-color: #000;
}
#myNavbar, div.container-fluid, .nav > li > a {
  background-color: #000;
}
.container-fluid .nav > li:hover > a {
  background-color: #000;
}
.profile_pic {
  margin: 10px;
}

.badge {
  margin-top: 20px;
  padding: 5px;
}


footer {
  padding: 20px;
}
